.citys-list{
    text-align: center;
    padding: 0 10px;

    background: rgb(71, 67, 67);

    .city{
        color: rgb(255, 255, 255);
        display: inline-block;
        padding: 15px 20px;
        cursor: pointer;
        

        &.active {
            font-weight: 700;
            text-decoration: none;
            background: #44200c;
            color: rgb(250, 145, 8);
        }
    }
}