.city-goods {

    .goods-item-wrappre{
        display: flex;
        justify-content: space-between;

        .good-item-discription{
            width: 52px;
            margin: 5px;
        }

        .goods-item{
            width: 50px;
            height: 50px;
            border: 1px solid #877f72;
            margin: 5px;
            vertical-align: top;
            cursor: pointer;

            &.item-1 {
                background-image: url('../../assets/img/gold.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
            }
            &.item-2 {
                background-image: url('../../assets/img/beard.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
            }
            &.item-3 {
                background-image: url('../../assets/img/lasos.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
            }
            &.item-4 {
                background-image: url('../../assets/img/arrow.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
            }
            &.item-5 {
                background-image: url('../../assets/img/apple.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
            }
            &.item-6 {
                background-image: url('../../assets/img/iron.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
            }
        }

        .input-number{
            
                background: none;
                width: 100%;
                border: 1px solid #877f72;
                color: #d48816;
    
                &:focus,
                &:active{
                    box-shadow: none;
                    outline: none;
                }
        }

        .btn{
            background: #44200c;
            color: #d48816;
            border: 1px solid #877f72;
            font-size: 12px;
            cursor: pointer;
            

            &:focus,
            &:active{
                box-shadow: none;
                outline: none;
            }

            &:hover{
                background: #6d3311;
            }
            
        }

        .price-description{
            font-size: 12px;
        }

        .goods-item-stats{
            border: 1px solid #877f72;
            padding: 10px;
            height: 100px;
            width: 390px;
            margin: 5px;
        }
    }
}